/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */

@media screen and (min-width:992px) {

  .bw img{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }

}


.hide{
  display: none;
}

@media screen and (max-width: 992px){
  .hide-on-med-and-down{
    display: none!important;
  }
}

@media screen and (max-width: 700px) {
  background-color: #000;
}
.carousel-slider {
  height: 80% !important;
}
@media screen and (max-width: 700px) {
  .carousel-slider {
    height: 65% !important;
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1%;
  color: #000;
  z-index: 9999999999999;
}

.modal {
  top: 10% !important;
  max-height: 90% !important;
  width: 100% !important;
  height: 85% !important;
  overflow: hidden;
}
.modal .modal-content {
  height: 100%;
  width: 80%;
  /*margin-left: 10%;*/
}
@media screen and (max-width: 600px) {
  .modal .modal-content {
    height: 100%;
    width: 99.9999%;
    margin-left: 0.00005%;
  }
}
.modal .modal-content .slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  cursor: pointer;
}
.modal .modal-content .carousel-item img {
  position: absolute;
  width: auto !important;
  left: 12.5%;
  max-height: 80%;
  max-width: 80%;
  top: 20%;
}
.modal .modal-content .indicator-item {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 0px rgba(100, 100, 100, 0.2);
          box-shadow: 2px 2px 0px rgba(100, 100, 100, 0.2);
}
.modal .modal-content .indicator-item.active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 0.005px rgba(0, 0, 0, 0.2) solid;
  -webkit-box-shadow: 2px 2px 0px rgba(100, 100, 100, 0.2);
          box-shadow: 2px 2px 0px rgba(100, 100, 100, 0.2);
}

@media screen and (max-width:992px){
  .modal .modal-content .indicator-item{

  }
}
