@font-face {
 font-family: Caviar;
 src: url("./fontes/Gotham-Book.otf") /* EOT file for IE */
}

@font-face {
 font-family: Caviar;
 src: url("./fontes/Gotham-Book.ttf") /* TTF file for CSS3 browsers */
}

* {
	font-family: "Caviar";
}

img {
	border: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	background: #fff;
}

body#index {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #000;
	overflow: hidden;
}

.clear {
	clear: both;
}

/* LOGOS */
#background {
	position: absolute;
	z-index: 8;
	overflow: hidden;
	width: 110%;
	height: 110%;
	left: -5.85%;
	top: -3.35%;
}

#background img {
	width: 110%;
	left: -5%;
	opacity: 0.5;
    filter: alpha(opacity=50);
}

#over {
	display: none;
}

@media screen and (max-width: 800px){
	#background {
		width: 100%;
		height: 100%;
		left: 0%;
		top: 0%;
	}
	#background img {
		opacity: 0.8;
		filter: alpha(opacity=80);
		width: auto !important;
		min-width: 120%;
		min-height: 110%;
	}
	#over {
		display: block;
		position: absolute;
		width: 100%;
		height: 100% !important;
		z-index: 0;
		top: 0;
		left: 0;
		background-color: #000;
		filter: alpha(opacity=30);
		opacity: 0.3;
		z-index: 32;
	}
}

#menu {
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
}

#logo-menu {
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;
	margin-left: 2%;
	width: 150px;
}

body#index #logo-menu {
	position: absolute;
	z-index: 32000;
	left: 0%;
	margin-top: 25px;
}

@media screen and (max-width: 800px){
	#logo-menu {
		position: relative !important;
		margin-top: 20px !important;
		margin-bottom: 20px !important;
		width: 150px;
		left: 50% !important;
		margin-left: -75px !important;
	}
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 48.5%;
	height: 25px;
	float: left;
}

#menu ul li {
	float: right;
	width: auto;
	text-align: right;
	opacity: 1;
	margin-left: 3%;
	margin-top: 0;
	height: 25px;
	line-height: 26pt;
	font-size: 10pt;
    filter: alpha(opacity=1);
}

#menu_cast_cel, #menu_cast_cel2 {
	display: none;
}

@media screen and (max-width: 800px){
	#menu ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 150px;
		float: none;
		display: none;
	}
	#menu ul li {
		float: none;
		text-align: left;
		margin-left: 20px;
		margin-top: 10px;
		line-height: 30pt;
		font-size: 10pt;
		width: 90%;
	}

	#menu_cast_cel {
		display: block !important;
	}

	#menu_cast_cel2 {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		float: none;
		display: none;
	}

	#menu_cast_cel2 li {
		float: none;
		text-align: center;
		margin-left: 0px;
		margin-top: 10px;
		line-height: 30pt;
		font-size: 10pt;
		width: 100%;
	}
}

#menu ul li a {
	color: #000;
	text-decoration: none;
}

body#index #menu {
	position: relative;
	z-index: 32000;
	height: 170px;
}

body#index #menu ul li a {
	color: #fff;
}

#menu ul li a:hover {
	color: #e0e0e0;
	text-decoration: none;
}

#menu ul li a.ativo {
	font-weight: bold;
	text-decoration: none;
}

#menu .fechar {
	position: absolute;
	right: 20px;
	top: 5px;
	cursor: pointer;
	color: #f0f0f0;
	font-size: 30pt;
}

.socials_menu {
	float: right;
	margin-right: 3%;
	margin-top: 100px;
}

body#index .socials_menu {
	margin-top: 96px;
	margin-bottom: 18px;
}

.socials_menu a {
	margin-left: 5px;
}

.socials_menu a img {
	width: 15px;
}

.canvas-draw__video {
	position: absolute;
	width: 150%;
	z-index: 0;
	top: 0;
	left: 0;
}

@media screen and (max-width: 800px){
	.socials_menu {
		position: relative;
		float: right;
		width: 120px;
		right: 50%;
		margin-right: -60px;
		top: 10px;
	}

	.canvas-draw__video {
		display: none;
	}
}


#bg-menu-cel {
	display: none;
}

.hmenu {
	width: 30% !important;
	float: left !important;
}

#slider {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

#slider li {
	width: 100%;
	position:absolute;
	left:0px;
	top:0px;
	display: inline;
	padding: 0;
	margin: 0;
	height: 100%;
}

#slider li img {
	padding: 0;
	margin: 0;
	clear: both;
}

@media screen and (max-width: 800px){
	#slider {
		list-style: none;
		width: 100%;
		padding: 0;
		margin: 0;
		height: 100%;
	}

	#slider li {
		width: 100%;
		position:absolute;
		left:0px;
		top:0px;
		display: inline;
		padding: 0;
		margin: 0;
		height: 100%;
	}

	#slider li img {
		padding: 0;
		margin: 0;
		clear: both;
	}
}

.box2 {
	z-index: 30;
	position: absolute;
	width: 150px;
	height: 30px;
	padding: 0;
	bottom: 20px;
	margin-left: 20px;
}

.box2 svg line {
	stroke-width: 2;
	stroke: #fff;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.cast {
	position: absolute;
	margin-top: 0px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

#casting2 {
	margin-left: 170px;
}
#casting3 {
	margin-left: 340px;
}
#casting4 {
	margin-left: 510px;
}
#casting5 {
	margin-left: 680px;
}
.cast a {
	color: #fff;
	text-decoration: none;
}
.cast a:hover {
	color: #e0e0e0;
}


/* FORUM */
#Forum {
	position: absolute;
	background-color: #fff;
	width: 100%;
	min-height: 768px;
	top: 120%;
}

#Forum .titulo {
	position: relative;
	left: 60%;
	top: 50px;
	width: 30%;
	font-size: 40pt;
	text-align: right;
}

#conteudo .txt, #conteudo .txt2, #conteudo .txt3 {
	margin-left: 1.5%;
	width: 97%;
	text-align: justify;
	font-size: 11.5pt;
	float: left;
	padding-top: 40px;
	padding-bottom: 10px;
}

#conteudo .txt {
	float: left;
	width: 38%;
	margin-left: 10%;
	padding-top: 100px;
	font-size: 12pt;
	margin-bottom: 25px;
}

#conteudo .txt2 {
	float: right;
	width: 38%;
	padding: 0;
	margin: 0;
	margin-top: 100px;
	margin-right: 10%;
	padding-bottom: 0;
}

.titulo-ag {
	display: block;
	width: 90% !important;
	height: auto;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	font-size: 33pt !important;
	padding-top: 70px !important;
}

@media screen and (max-width: 800px){
	.txt, .txt2 {
		width:80% !important;
	}

	.txt {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
		padding-top: 0 !important;
		margin-top: 60px !important;
	}

	.txt2 {
		padding-top: 0;
		margin-top: 15px !important;
		padding-bottom: 40px !important;
	}

	.titulo-ag {
		margin-top: 20px !important;
		font-size: 13pt !important;
		padding-top: 20px !important;
	}
}

#conteudo .txt2 .vert, #conteudo .txt2 .vert2 {
	float: left;
	width:92%;
	color: #000;
	text-align: center;
	padding: 4%;
	min-height: 120px;
	padding-bottom: 5px;;
	padding-top: 15px;
	font-size: 10pt;
}

#conteudo .txt2 .vert2 {
	background-color: #303030;
	color: white;
}

#conteudo .txt2 h3 {
	font-weight: bold;
	font-size: 16pt;
	margin-bottom: 10px;
}

/* CASTING */
#Casting {
	position: absolute;
	background-color: #e0e0e0;
	width: 100%;
	min-height: 768px;
	top: 240%;
}

#Casting .titulo {
	position: relative;
	left: 50%;
	top: 50px;
	width: 40%;
	font-size: 28pt;
	text-align: right;
}

#Casting .links {
	position: relative;
	width: 70%;
	left: 0%;
	top: 230px;
}

.castingInt1 {
	position: relative;
	top: 20px;
	left: 30px;
	z-index: 0;
}
.castingInt2 {
	position: relative;
	top: 20px;
	left: 230px;
	z-index: 0;
}
.castingInt3 {
	position: relative;
	top: 20px;
	left: 430px;
	z-index: 0;
}
.castingInt4 {
	position: relative;
	top: 20px;
	left: 630px;
	z-index: 0;
}

.box3 {
	z-index: 30;
	position: absolute;
	width: 150px;
	height: 30px;
	padding: 0;
	bottom: 20px;
	margin-left: 20px;
}

.box3 svg line {
	stroke-width: 2;
	stroke: #000;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.box3 .cast {
	position: absolute;
	margin-top: 0px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.box3 .cast a {
	color: #000;
	text-decoration: none;
}
.box3 .cast a:hover {
	color: #d0d0d0;
}

#fotosCasting {
	position: relative;
	width: 100%;
	left: 0;
	height: 400px;
	top: 60px;
	overflow:hidden;
}

#sliderCasting {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: 0;
	height: 100%;
}

#sliderCasting li {
	width: 100px;
	display: inline;
	padding: 0;
	margin: 0;
	height: 100%;
}

.rm_container ul li img {
	width: 300px;
}

#nextSlide {
	width: 10%;
	position: relative;
	top: 0px;
	margin-top: -145px;
	left: 88%;
	font-size: 72pt;
	color: #808080;
	text-align: right;
	cursor: pointer;
	font-family: "Verdana";
}

#prevSlide {
	width: 10%;
	position: relative;
	top: 0px;
	margin-top: -115px;
	left: 2%;
	font-size: 72pt;
	color: #808080;
	text-align: left;
	cursor: pointer;
	font-family: "Verdana";
}

@media screen and (max-width: 1024px){
	#fotosCasting {
		position: relative;
		width: 100%;
		left: 0;
		height: 400px;
		top: 10px;
		overflow:hidden;
	}
	#Casting .titulo {
		position: relative;
		left: 7%;
		top: 10px;
		padding-top: 50px;
		width: 90%;
		font-size: 20pt;
		text-align: right;
	}
	.castingInt1 {
		position: relative;
		top: 150px;
		left: 30px;
	}
	.castingInt2 {
		position: relative;
		top: 150px;
		left: 230px;
	}
	.castingInt3 {
		position: relative;
		top: 150px;
		left: 430px;
	}
	.castingInt4 {
		position: relative;
		top: 150px;
		left: 630px;
	}
}

@media screen and (max-width: 768px){
	#Casting {
		position: relative;
		background-color: #e0e0e0;
		width: 100%;
		top: 0;
		height: auto;
		min-height: 100px;
		padding-bottom: 50px;
	}

	#Casting .titulo {
		position: relative;
		left: 7%;
		top: 0;
		padding-top: 50px;
		width: 90%;
		font-size: 18pt;
		text-align: right;
	}

	.castingInt1, .castingInt2, .castingInt3, .castingInt4 {
		display: none;
	}
}


.half {
	width: 45% !important;
	display: block;
	float: left;
	margin-right: 8% !important;
}
.half2 {
	width: 45% !important;
	display: block;
	float: left;
	margin-right: 0 !important;
}

#fsejaforum .upImages {
	margin-top: 0px;
	margin-left: 0%;
	width: 100%;
	border: 0;
}

#fsejaforum .upImages td {
	width: 50%;
	text-align: center;
}

#fsejaforum .upImages img {
	width: 100px;
	margin-bottom: 10px;
	margin-top: 5px;
}

@media screen and (max-width: 1024px){
	#beForum .titulo {
		position: relative;
		left: 50%;
		top: 50px;
		width: 40%;
		font-size: 20pt;
		text-align: right;
	}

	input[type=text], select {
		width: 100%;
		height: 20px;
		font-size: 10pt;
		padding: 0;
		margin: 0;
		margin-bottom: 3px;
	}
	#beForum .upImages img {
		width: 70px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 768px){
	#beForum {
		position: relative;
		background-color: #fff;
		width: 100%;
		min-height: 768px;
		height: auto;
		top: 0;
	}

	#beForum .titulo {
		position: relative;
		left: 40%;
		top: 0;
		margin-top: 20px;
		width: 40%;
		font-size: 18pt;
		text-align: right;
	}

	#beForum .side {
		position: relative;
		top: 0;
		margin-top: 30px;
		margin-left: 8%;
		width: 80%;
	}

	#beForum .upImages {
		margin-top: 0px;
		margin-left: 0%;
		width: 100%;
		border: 0;
	}

	#beForum .upImages td {
		width: 100%;
		text-align: center;
	}

	#beForum .upImages img {
		width: 100px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

/* EVENTOS */
#Eventos {
	position: absolute;
	background-color: #000;
	width: 100%;
	min-height: 768px;
	top: 480%;
}

#Eventos .titulo {
	position: relative;
	left: 50%;
	top: 50px;
	width: 40%;
	font-size: 28pt;
	text-align: right;
	color: #fff;
}

#Eventos ul {
	position: relative;
	padding: 0;
	list-style: none;
	margin-top: 100px;
	width: auto;
	height: 450px;
	overflow: hidden;
}

#Eventos ul li {
	width: 100%;
	position:absolute;
	left:0px;
	top:0px;
	display: inline;
	padding: 0;
	margin: 0;
	height: 100%;
}

#Eventos ul li img {
	width: 100%;
}

#Eventos ul li .tit_evento {
	font-size: 14pt;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
}

#Eventos ul li .txt_evento {
	font-size: 10pt;
	height: 210px;
	margin-left: 10%;
}

#prevEv {
	position: absolute;
	z-index: 20000;
	font-size: 30pt;
	line-height: 40px;
	color: #fff;
	left: 10px;
	top: 390px;
	cursor: pointer;
	font-family: "Arial";
}
#nextEv {
	position: absolute;
	z-index: 20000;
	font-size: 30pt;
	line-height: 40px;
	color: #fff;
	right: 10px;
	top: 380px;
	cursor: pointer;
	font-family: "Arial";
}

@media screen and (max-width: 768px){
	#Eventos {
		position: relative;
		background-color: #000;
		width: 100%;
		min-height: 400px;
		top: 0;
		margin-top: 20px;
	}

	#Eventos .titulo {
		position: relative;
		left: 40%;
		top: 0;
		padding-top: 20px;
		width: 50%;
		font-size: 18pt;
		text-align: right;
		color: #fff;
	}

	#Eventos ul {
		position: relative;
		padding: 0;
		list-style: none;
		margin-top: 20px;
		width: auto;
		height: 450px;
		overflow: hidden;
	}

	#Eventos ul li {
		width: 100%;
		position:absolute;
		left:0px;
		top:0px;
		display: inline;
		padding: 0;
		margin: 0;
		height: 100%;
		text-align: center;
	}

	#prevEv {
		position: absolute;
		z-index: 20000;
		font-size: 30pt;
		line-height: 40px;
		color: #fff;
		left: 10px;
		top: 50%;
		margin-top: 0;
		cursor: pointer;
		font-family: "Arial";
	}
	#nextEv {
		position: absolute;
		z-index: 20000;
		font-size: 30pt;
		line-height: 40px;
		color: #fff;
		left: 50%;
		width: 47%;
		text-align: right;
		top: 50%;
		cursor: pointer;
		font-family: "Arial";
	}
}

#authorindex {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 32000;
	text-align: center;
	opacity: 0.3;
}

@media screen and (max-width: 800px){
	#authorindex {
		position: absolute;
		right: 10px;
		bottom: 10px;
		text-align: center;
		opacity: 0.2;
	}

	#authorindex img {
		width: 50px;
	}
}

#authorindex:hover {
	opacity: 0.8;
}

#author {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 32000;
	text-align: center;
	opacity: 0.3;
}

#author:hover {
	opacity: 0.8;
}

#author2 {
	text-align: right;
	background-color: #808080;
	opacity: 0.3;
}
#author2:hover {
	text-align: right;
	background-color: #808080;
	opacity: 0.8;
}

#author2 img{
	height: 35px;
}

@media screen and (max-width: 768px){
	#author {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		padding-bottom: 10px;
	}
}

.content ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 5000px;
	margin-top: 60px;
}

.content ul li {
	float: left;
}

.content ul li img {
	height: 250px;
}

.content ul li img:hover {
	height: 350px;
	margin-top: -50px;
}

.content ul li:last-child img:hover {
	height: 350px;
	margin-left:-50px;
	margin-top: -50px;
}

#controller {
	width: 100%;
}

#controller #next {
	position: fixed;
	z-index: 20001;
	color: #fff;
	right: 0;
	font-size: 40pt;
	top: 150px;
	background-color: #000;
	width: 50px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	padding: 0;
	padding-bottom: 11px;
	cursor: pointer;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

#controller #prev {
	position: fixed;
	z-index: 20000;
	color: #fff;
	left: 0;
	font-size: 40pt;
	top: 150px;
	background-color: #000;
	width: 50px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	padding: 0;
	padding-bottom: 11px;
	cursor: pointer;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.evento_vertical {
	height: 100%;
	width: auto !important;
}

.slider_vertical {
	width: 100%;
	height: auto !important;
}

#Casting-model {
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0px;
	margin-top: 0px;
}

#lista_modelos {
	width: 100%;
	padding: 0;
	margin: 0;
}

#lista_modelos a img {
	opacity: 1;
}

#lista_modelos a img:hover {
	opacity: 0.7;
}

.item {
	float: left;
	margin: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	cursor: pointer;
	font-size: 40px;
	text-align: center;
}

.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}



#menu_cast, #menu_cast li {
	float: left !important;
}

@media screen and (max-width: 800px){
	#menu_cast li {
		margin-left: 10px !important;
		margin-bottom: 15px;
	}
}

.black {
	height: 170px;
	background: #fff;
	color: #000;
	background-position: right top;
}

.white {
	height: 170px;
	color: #fff;
	background-position: right top;
}

#det_modelo{
	width: 100%;
	margin-bottom: 30px;
}

#det_modelo img.principal {
	width: 47.5%;
	margin-left: 1.5%;
	float: left;
}

#det_modelo .detalhes {
	float: left;
	margin-left: 10%;
	width: 30%;
	font-size: 12pt;
	line-height: 20pt;
	padding-top: 50px;
	border-bottom: 1px solid #808080;
	padding-bottom: 10px;
	color: #808080;
}

#det_modelo .detalhes h3{
	font-size: 20pt;
	margin-bottom: 10px;
	border-bottom: 1px solid #808080;
}

#det_modelo a {
	color: #808080;
}
#det_modelo a:hover {
	color: #000;
}

#det_modelo .foto, #det_modelo .foto2 {
	float: left;
	margin-left: 1.5%;
	margin-top: 20px;
}

#det_modelo .video {
	float: left;
	margin-left: 1.5%;
	margin-top: 20px;
}


@media screen and (max-width: 800px){
	#det_modelo img.principal {
		width: 97%;
		margin-left: 1.5%;
		float: none;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	#det_modelo .detalhes {
		float: none;
		width: 94%;
		margin-left: 3%;
		padding-top: 20px;
	}
	#det_modelo .detalhes h3{
		display: block;
		margin-top:	0px;
		padding-top: 0;
		font-size: 16pt;
	}
}

#conteudo {
	width: 100%;
	min-height: 485px;
}

.hider {
	display: none;
}

.olho1, .olho2 {
	width: 100px;
	height: 200px;
	border: 1px solid #000;
	margin: 20px;
	margin-top: 0;
}

.olho1 {
	float: right;
	border-right: 0;
	margin-right: 0;
	display: none;
}
.olho2 {
	float: left;
	border-left: 0;
	margin-left: 0;
	display: none;
}

.risco {
	width: 100%; border-top: 1px solid #a0a0a0; margin-top: 10px;
}

@media screen and (max-width: 800px){
	.risco {
		padding-top: 20px;
		border-top: 0;
		border-bottom: 1px solid #a0a0a0
	}
}

#menu_cel {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	display: none;
}

@media screen and (max-width: 800px){
	#menu_cel {
		display: block;
	}
}

/*ferramenta*/
@media screen and (max-width: 800px){
  #entrarnaferramenta {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #nomeloginferramenta, #passloginferramenta {
    font-size: 1em;
    margin: 1em 0px;
    padding: 0.5em 0.5em;
    height: 20px;
    width: 200px;
  }
  #submitferramenta{
    height: 50px;
    font-size: 1.2em;
  }
}
#containerFerramenta{
  margin: 10% 20%;
}

@media screen and (min-width: 801px){
  #entrarnaferramenta {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #nomeloginferramenta, #passloginferramenta {
    font-size: 1.5em;
    margin: 1em 0px;
    padding: 0.5em 0.5em;
    height: 30px;
    width: 400px;
    color: #000;
  }
  #submitferramenta{
    height: 50px;
    font-size: 1.2em;
    float: none;
  }
}
#containerFerramenta{
  margin: 10% 40%;
}

/*text*/



/*********************************
FORMUAlÁRIOS
Regras para layout formulários, campos e botões
clases: .form, .fakeButton, .form_header, .form_title, .form_subTitle, .form_upload_button, .form_hiddenField, .form
**********************************/

/*LAYOUT*/

/*formulário*/
form.form {
  margin:5%;
}

.form fieldset {
  margin: 5% 0px 0px 0px;
}

/*campos*/
form.form input, form.form select {
  width: 100%;
  height:100%;
  margin: 2% 0px;
  border: 1px solid #ccc;
  padding: 1%;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}


/*Comportamento quando os campos estiverem em uso*/
form.form input:focus, form.form select:focus{
  transform: scale(1.005);
  border: 1px solid #ccc;
}

/*validação*/
form.form input.error{
  border: 1px red solid;
}

form.form label.error{
  color:red;
}



/*cabeçalho*/
div.form_header{
  position: relative;
  background-image: url('../img/header_form.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 100%;
  height: 300px;
  color: #fff;
  text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px){
  div.form_header{
    background-image:none;
    color: #000;
    text-align: left;
    text-shadow: 0px 0px 0px #000;
  }

}

/*mobile*/

@media screen and (max-width: 700px){
  .form fieldset {
    margin: 5% 0px 0px 0px;
  }

  /*campos*/
  form.form input, form.form select {
    width: 100%;
    height:100%;
    margin: 5% 0px;
    padding: 1%;
    border-radius: 5px;
}

  div.form_header{
    width: 100%;
    height: auto;
  }

}

/*campo escondido*/
div.form_hiddenField{
  display: none;
}


/*INTERFACE*/

/*Botões*/

label.form_fakeButton, .form button{
  display: inline-block;
  padding: 1.5% 3.5%;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  background-color: #000;
  border-radius: 5px;
  border: 0px solid #aaa;
  color: #fff;
  margin-bottom: 2%;
  box-sizing: content-box;
  margin: 2% 0px
}

@media screen and (max-width: 700px){

  .form_fakeButton, .form button{
    padding: 3% 2.5%;
  }
}

.form_fakeButton:hover, .form button:hover{
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);

}

/*checkbox*/
form.form div.form_checkbox{
  width: 20px;
  height: 20px;
  position: relative;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
    display: inline-block;
}

form.form div.form_checkbox label.fakeCheckbox{
  position: absolute;
  top: 0;
  left: 0;
  cursor:pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1%;
  width: 100%;
  height: 100%;
}

form.form div.form_checkbox label.fakeCheckbox:after {
  opacity: 0.2;
	content: '';
	position: absolute;
	width: 54%;
	height: 23%;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	transform: translateX(-15%) translateY(-10%) rotate(-45deg);
}

form.form div.form_checkbox label.fakeCheckbox:hover::after {
  opacity: 0.5;
}

div.form_checkbox input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

form.form input[type="checkbox"]{
  display: none;
}

form.form span.form_checkbox_label{
    margin: 2% 0px;
}




/*TEXTO*/

h2.form_title{
  font-size: 4em;
  opacity: 0.8;
}

h3.form_subTitle{
  font-size: 1.5em;
  font-weight: normal;
}

form.form input, form.form select {
  font-size: 1em;
}

h2.form_fieldsetTitle{
  font-size: 1.5em;
  font-weight: bold;
}

.form p {

}

@media screen and (max-width: 700px){

  h3.form_subTitle{
    font-size: 1em;
  }

  .form p {
    font-size: 1em;
  }
  form.form input, form.form select {
    font-size: 1.2em;
  }
}



/*FILE UPLOAD*/

/*area de subir arquivos
OBS: depois será preciso colocar em grid
*/


div.form_upload_img_imagePreview{
  height: 100%;
}


div.form_upload_img_imagePreviewContainer{
  width: 30%;
  height: 350px;
  display: inline-block;
  position: relative;
  background-color: #ccc;
}

div.form_upload_img_imagePreviewContainer+div.form_upload_img_imagePreviewContainer{
  margin-left: 5%;
}

div.form_upload_img_imagePreview:hover{

}

/*mobile*/

@media screen and (max-width: 768px){
  div.form_upload_img_imagePreviewContainer{
    display: block;
    width: 100%;
    height: 850px;
    margin: 5% 0px;
  }
  div.form_upload_img_imagePreviewContainer+div.form_upload_img_imagePreviewContainer{
   margin-left: 0;
  }
}

@media screen and (max-width: 500px){
  div.form_upload_img_imagePreviewContainer{
    height: 500px
  }
}


@media screen and (max-width: 400px){
  div.form_upload_img_imagePreviewContainer{
    height: 450px
  }
}
/*botão da área de subir arquivos*/
.form input.form_upload{
  display: none;
}

.form label.form_upload_img_label{
position: absolute;
width: 100%;
border-radius: 0px;
text-align: center;
box-sizing: border-box;

}
.form label.form_upload_img_label:hover{
 box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

label.form_upload_img_label{

}


/*********************************
FORMUAlÁRIO DE INSCRIÇÃO
**********************************/

input.form_inscription_tutorData{
  display: none;
}

div.form_inscription_imgup_displayArea h3{

}

fieldset#form_upload{
  margin-top: 2%;
}

fieldset#form_inscription_field{

}

.form_inscription_imgup_displayArea {
  align-items: flex-start;
  margin: 5% 0px;
  position: relative;
  display: none;
}

.form_inscription_imgup_displayArea img:nth-child(2){
  /*margin-left: 5%;*/
}

div.form_inscription_imgup_displayArea img{
  width: 40%;
}


#form_inscription_header_button{
  display: none;
}

@media screen and (max-width: 347px){
  #form_inscription_fakeButton_photoUpload_2nd{
    margin-left: 0%;
  }
}
@media screen and (max-width: 700px){
  #form_inscription_imgPreview2{
    margin-left: 0px;
    margin-top: 5%;
  }

}


/* SEJAFORUM */
#fsejaforum div.side {
	float: left;
	margin-left: 5%;
	width: 26%;
	margin-bottom: 30px;
	text-align: left;
	margin-top: 30px;
}

@media screen and (max-width: 800px){
	#fsejaforum div.side {
		margin-left: 3%;
		width: 94%;
		float: none;
	}
}

/* SEJAFORUM */
#Contato {
	position: absolute;
	background-color: #fff;
	width: 100%;
	min-height: 768px;
	top: 600%;
}

#Contato .titulo {
	position: relative;
	left: 50%;
	top: 50px;
	width: 40%;
	font-size: 28pt;
	text-align: right;
}

#conteudo .side{
	float: left;
	margin-left: 0;
	margin-top: 100px;
	width: 48%;
	text-align: center;
}

#conteudo .side span {
	font-size: 26pt;
}

#conteudo .side2 {
	width: 52%;
	height: 100%;
	float: left;
}

#conteudo .side2 iframe {
	min-height: 485px;
}

@media screen and (max-width: 800px){
	#conteudo .side{
		float: left;
		margin-left: 0;
		margin-top: 30px;
		width: 100%;
		text-align: center;
	}

	#conteudo .side span {
		font-size: 26pt;
	}

	#conteudo .side2 {
		width: 100%;
		height: 50%;
		margin-top: 50px;
	}

	#conteudo .side2 iframe {
		min-height: 485px;
	}
}

textarea {
	width: 100%;
	height: 75px;
}

.socials_contato {
	position: relative;
	left: 0;
	top: 45px;
}

.socials_contato a {
	margin-right: 10px;
}

.socials_contato a:first-child {
	margin-left: 10px;
}


.socials_contato a img {
	width: 30px;
}

#botoes2 {
	display: none;
}

@media screen and (max-width: 1024px){
	#Contato .titulo {
		position: relative;
		left: 40%;
		top: 0px;
		margin-top: 80px;
		width: 50%;
		font-size: 20pt;
		text-align: right;
	}

	#Contato .side, #Contato .side3 {
		position: relative;
		float: left;
		top: 0px;
		margin-left: 8%;
		width: 50%;
		font-size: 10pt;
	}

	#Contato .side {
		top: 30px;
		width: 80%;
		text-align: center;
	}

	#Contato .side span {
		font-size: 20pt;
	}

	#Contato .side2 {
		position: relative;
		top: -30px;
		margin-left: 0;
		width: 100%;
	}

	.socials_contato {
		position: relative;
		left: 0;
		top: 10px;
	}

	.socials_contato a {
		margin-right: 10px;
	}

	.socials_contato a:first-child {
		margin-left: 10px;
	}


	.socials_contato a img {
		width: 20px;
	}

}

@media screen and (max-width: 768px){
	#Contato {
		position: relative;
		background-color: #fff;
		width: 100%;
		min-height: 400px;
		height: auto;
		top: 0;
	}

	#Contato .titulo {
		position: relative;
		left: 40%;
		top: 0px;
		margin-top: 50px;
		width: 50%;
		font-size: 18pt;
		text-align: right;
	}

	#botoes {
		display: none;
	}

	#botoes2 {
		display: block;
		width: 100%;
		text-align: center;
	}


	#Contato .side, #Contato .side3 {
		position: relative;
		float: left;
		top: 0;
		margin-top: 100px;
		margin-left: 8%;
		width: 50%;
	}

	#Contato .side {
		top: 0;
		margin-top: 100px;
		width: 80%;
		text-align: center;
	}


	#Contato .side2 {
		position: relative;
		top: 0px;
		margin-top: 120px;
		margin-left: 0;
		width: 100%;
	}

}


#loading {
	position: fixed;
	z-index: 20001;
	width: 100%;
	height: 300px;
	background-color: #e0e0e0;
	color: #000;
	display: none;
	font-size: 22pt;
	text-align: center;
	line-height: 300px;
	top: 200px;
}

#email_enviado {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -50px;
	width: 600px;
	height: 100px;
	background-color: #000;
	z-index: 20002;
	display: none;
}

#resposta {
	font-size: 12pt;
	color: #e0e0e0;
	width: 500px;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	margin-left: 50px;
	border: 0px;
}

#fechar_jan {
	position: absolute;
	cursor: pointer;
	right: 5px;
	top: 5px;
}


/*grid*/
div.container {
  margin: 5%;
}
