@charset "UTF-8";
.modal-close {
  cursor: pointer;
  font-size: 40px !important;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99999999999999999999999999999999 !important; }
  .modal-close:hover {
    opacity: 0.8; }

nav.white ul.tabs li.tab a:hover {
  color: #ccc !important; }
nav.white ul.tabs li.tab a.active {
  background-color: black;
  color: white !important;
  animation-delay: 2s;
  box-shadow: 5px 5px 0px #ccc; }
nav {
  box-shadow: 0px 0px 0px transparent; }
nav .brand-logo {
  z-index: 999; }
nav .brand-logo-img {
  height: 140px;
  padding: 24px;
  animation-delay: 1s; }
nav .nav-wrapper {
  height: 135px !important;
  border-bottom: 1px solid white; }
nav .custom-icon {
  padding: 80px 0 0 0;
  animation-delay: 0.25s; }
  nav .custom-icon .icon-sociocon:hover {
    opacity: 0.8 !important; }
nav .button-collapse {
  color: black; }
@media screen and (max-width: 992px) {
  nav .tabs {
    display: none; }
  nav .nav-wrapper {
    border-bottom: 0px solid white; } }
@media screen and (min-width: 992px) {
  nav.nav-extended {
    position: relative !important; } }

.nav-content {
  z-index: 999; }

#nav-mobile-socialLinks {
  display: none; }
  @media screen and (max-width: 992px) {
    #nav-mobile-socialLinks {
      display: flex;
      z-index: 99;
      margin-top: 2%;
      position: relative;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      margin-left: 30%; } }
  #nav-mobile-socialLinks li {
    display: inline; }
    #nav-mobile-socialLinks li img {
      height: 25px; }

.indicator {
  display: none; }

.tabs.tabs-transparent {
  overflow: visible !important;
  padding: 0px 2%; }
  @media screen and (max-width: 1400px) {
    .tabs.tabs-transparent a {
      font-size: 12px !important;
      padding: 0px 15px !important; } }
  @media screen and (max-width: 1100px) {
    .tabs.tabs-transparent a {
      font-size: 10px !important;
      padding: 0px 11px !important; } }

.youtube, .youtube-thumbnail {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer; }

.youtube img, .youtube-thumbnail img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7; }

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: rgba(200, 200, 200, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px; }

.youtube .play-button:before, .youtube-thumbnail .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff; }

.youtube img,
.youtube .play-button, .youtube-thumbnail img, .youtube-thumbnail .play-button {
  cursor: pointer; }

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before,
.youtube-thumbnail img,
.youtube-thumbnail .play-button,
.youtube-thumbnail .play-button:before {
  position: absolute; }

.youtube .play-button,
.youtube .play-button:before,
.youtube-thumbnail .play-button,
.youtube-thumbnail .play-button::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.s12.modal-caro {
  margin: 0px !important; }

.yt-slider-nav-container {
  width: 50% !important;
  margin-left: 25% !important; }
  .yt-slider-nav-container .youtube-thumbnail .play-button {
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px; }

.yt-slider-container {
  max-width: 70%;
  margin-left: 15%;
  margin-top: 5%; }
  @media screen and (max-width: 992px) {
    .yt-slider-container {
      max-width: 100%;
      margin-left: 0%;
      margin-top: 20%; } }
  .yt-slider-container img.yt-embed-img {
    width: 100% !important;
    top: -16.84% !important;
    left: 0 !important;
    max-width: none !important;
    max-height: none !important;
    opacity: 0.7 !important; }

* {
  font-family: "Montserrat", sans-serif; }

.container {
  margin-top: 100px !important; }

h2 {
  margin-top: 3% !important;
  margin-bottom: 3% !important; }

html, body {
  height: 100%; }

#loading-animation {
  opacity: 0; }

.loading {
  height: 100%;
  background: #fff url("img/logos/logo-preta.png") no-repeat 50% 50%;
  width: 100%;
  z-index: 99999999999999999999999999999999999;
  transition: opacity 1s ease-out; }

/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

fieldset {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px;
  min-width: 0px;
  float: none; }

/*******************************************************************************
########################### CASTING ############################################
********************************************************************************/
.container .row {
  margin-left: auto !important;
  margin-right: auto !important; }

@media screen and (min-width: 992px) {
  .bw img {
    filter: grayscale(100%); } }
.casting-gallery {
  margin-top: 1.5% !important; }
  .casting-gallery .col {
    padding-top: 0.75em;
    padding-bottom: 0.75em; }
  @media screen and (min-width: 1200px) {
    .casting-gallery .casting-gallery-item:nth-child(3n+1) {
      animation-delay: 0.25s; }
    .casting-gallery .casting-gallery-item:nth-child(3n+2) {
      animation-delay: 0.5s; }
    .casting-gallery .casting-gallery-item:nth-child(3n+0) {
      animation-delay: 0.75s; }
    .casting-gallery .casting-gallery-item:nth-child(3) {
      animation-delay: 0.083s !important; }
    .casting-gallery .casting-gallery-item:nth-child(2) {
      animation-delay: 0.027s !important; }
    .casting-gallery .casting-gallery-item:nth-child(1) {
      animation-delay: 0.009s !important; } }
  @media screen and (max-width: 600px) {
    .casting-gallery .casting-gallery-item:nth-child(odd) {
      animation-delay: 0.25s !important; }
    .casting-gallery .casting-gallery-item:nth-child(even) {
      animation-delay: 0.5s !important; } }
  .casting-gallery .casting-gallery-item img {
    max-width: 100%;
    width: 100%; }

.modal {
  top: 2.5% !important;
  max-height: 95% !important;
  width: 95% !important;
  height: 95% !important;
  overflow: hidden;
  z-index: 99999999 !important; }
  .modal #foto-video {
    margin-bottom: 2em; }
  .modal .modal-content {
    overflow-y: hidden !important;
    overflow-x: hidden; }
    @media screen and (max-width: 992px) {
      .modal .modal-content {
        overflow-y: scroll !important; } }
    .modal .modal-content .row {
      height: 80%; }
    .modal .modal-content .casting-modal-profile {
      margin-top: 2.5%; }
      .modal .modal-content .casting-modal-profile img {
        width: 100%; }
      @media screen and (min-width: 992px) {
        .modal .modal-content .casting-modal-profile {
          height: 100%;
          margin-top: 0%; } }
    .modal .modal-content .casting-modal-content {
      height: 100%;
      margin-top: 2.5%; }
      @media screen and (min-width: 992px) {
        .modal .modal-content .casting-modal-content {
          margin-top: 0%; } }
    @media screen and (max-width: 992px) {
      .modal .modal-content .carousel-title {
        text-align: center; } }
    @media screen and (max-width: 600px) {
      .modal .modal-content .carousel-title {
        font-size: 2.5rem; } }
    .modal .modal-content .measure {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      line-height: 1.2rem; }

.slick-dots {
  bottom: -40px !important;
  display: flex;
  justify-content: center; }
  .slick-dots li {
    width: 5px !important;
    margin-left: 0 3px !important; }

.slider-arrow {
  cursor: pointer; }

.slick-slider {
  display: flex;
  align-items: center; }

.slick-slide {
  outline: none;
  cursor: pointer; }

#foto-video .slick-list, #foto-video .slick-track, #foto-video {
  height: 100% !important;
  width: 100%; }

.carrossel-principal img {
  max-width: 100%;
  max-height: 97.5%;
  margin-top: 1.25%; }

.carousel-img-portrait {
  height: 95%;
  width: auto; }

.carrossel-principal {
  height: 80% !important; }
  .carrossel-principal:focus {
    border: 0px; }

.carrossel-nav {
  height: 20% !important; }
  .carrossel-nav .slick-slide {
    overflow: hidden; }
  .carrossel-nav .slider-img, .carrossel-nav .yt-slider-container {
    max-width: 95%;
    max-height: 95%; }

.carrossel-principal.transparent, .carrossel-nav.transparent {
  opacity: 0 !important; }

.carrossel-nav, .carrossel-principal {
  animation-delay: 1s; }

.medida {
  font-weight: bolder;
  font-size: 1,25rem; }

.loading-animation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 9999999999999999; }

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }
.lds-rolling {
  position: relative; }

.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 146px;
  height: 146px;
  border: 6px solid #fff;
  border-top-color: transparent;
  border-radius: 50%; }

.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px; }

.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.lds-rolling {
  width: 233px !important;
  height: 233px !important;
  -webkit-transform: translate(-116.5px, -116.5px) scale(1.165) translate(116.5px, 116.5px);
  transform: translate(-116.5px, -116.5px) scale(1.165) translate(116.5px, 116.5px); }

#contactMapsContainer {
  height: 500px; }

#contactMapsIframe {
  height: 65%; }

#slider-index-video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: scale(2); }
  @media screen and (max-width: 992px) {
    #slider-index-video-background {
      display: none; } }

#slider-index {
  z-index: -5;
  touch-action: none !important; }
  @media screen and (min-width: 992px) {
    #slider-index {
      opacity: 0.5; } }
  #slider-index .indicators {
    display: none; }

.slider-block {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0; }
  @media screen and (max-width: 992px) {
    .slider-block {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5); } }

#modal-indexPopUp {
  background-color: transparent;
  color: white !important; }
  #modal-indexPopUp #modal-indexPopUp-close {
    color: white !important; }

.slider1, .slider2, .slider3, .slider4, .slider5,
.slider6, .slider7, .slider8 {
  max-width: 100%;
  background-size: 100%;
  background-image: url("http://res.cloudinary.com/dyexx7eqc/image/upload/v1505329919/sprite_wkt0sv.jpg"); }

.slider1 {
  background-position: 0 0%;
  background-size: 100%; }

.slider2 {
  background-position: 0 14.285714%;
  background-size: 100%; }

.slider3 {
  background-position: 0 28.571429%;
  background-size: 100%; }

.slider4 {
  background-position: 0 42.851406%;
  background-size: 100%; }

.slider5 {
  background-position: 0 57.129468%;
  background-size: 100%; }

.slider6 {
  background-position: 0 71.415183%;
  background-size: 100%; }

.slider7 {
  background-position: 0 85.700897%;
  background-size: 100%; }

.slider8 {
  background-position: 0 100%;
  background-size: 100%; }

@media screen and (min-width: 600px) {
  /* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
  .slider1, .slider2, .slider3, .slider4, .slider5,
  .slider6, .slider7, .slider8, .slider9 {
    max-width: 100%;
    background-size: 100%;
    background-image: url("http://res.cloudinary.com/deemlslu0/image/upload/v1505166714/sprite_b5jdce.jpg"); }

  .slider1 {
    background-position: 0 0%;
    background-size: 100%; }

  .slider2 {
    background-position: 0 12.504726%;
    background-size: 100%; }

  .slider3 {
    background-position: 0 25.009452%;
    background-size: 100%; }

  .slider4 {
    background-position: 0 37.510632%;
    background-size: 100%; }

  .slider5 {
    background-position: 0 50.004725%;
    background-size: 100%; }

  .slider6 {
    background-position: 0 62.498819%;
    background-size: 100%; }

  .slider7 {
    background-position: 0 75%;
    background-size: 100%; }

  .slider8 {
    background-position: 0 87.496456%;
    background-size: 100%; }

  .slider9 {
    background-position: 0 100%;
    background-size: 100%; } }
@media screen and (min-width: 992px) {
  /* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
  .slider2, .slider4, .slider5, .slider9, .slider1,
  .slider3, .slider6, .slider8, .slider7 {
    max-width: 150%;
    background-size: 115%;
    background-image: url("http://res.cloudinary.com/deemlslu0/image/upload/v1505160100/sprite_eetzp7.jpg"); }

  .slider2 {
    background-position: 0 0%; }

  .slider4 {
    background-position: 0 12.5%; }

  .slider5 {
    background-position: 0 25%; }

  .slider9 {
    background-position: 0 37.5%; }

  .slider1 {
    background-position: 0 50%; }

  .slider3 {
    background-position: 0 62.5%; }

  .slider6 {
    background-position: 0 75%; }

  .slider8 {
    background-position: 0 87.5%; }

  .slider7 {
    background-position: 0 100%; } }
.institucional .card, .institucional .card * {
  border-radius: 0px !important; }
.institucional section {
  margin: 15% 0px; }
.institucional .titulo-pagina {
  font-size: 7.5em; }
  @media screen and (max-width: 600px) {
    .institucional .titulo-pagina {
      font-size: 4em; } }
@media screen and (max-width: 992px) {
  .institucional .subtitulo {
    font-size: 1.25rem; } }
@media screen and (max-width: 600px) {
  .institucional .subtitulo {
    font-size: 1rem; } }
.institucional .container-titulo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 3%; }
  .institucional .container-titulo .icone-titulo {
    height: 10rem;
    margin-left: 1.5%; }
    @media screen and (max-width: 9992px) {
      .institucional .container-titulo .icone-titulo {
        height: 7.5rem; } }
    @media screen and (max-width: 600px) {
      .institucional .container-titulo .icone-titulo {
        height: 5rem; } }
  .institucional .container-titulo .titulo {
    margin-bottom: 0px !important; }
    @media screen and (max-width: 992px) {
      .institucional .container-titulo .titulo {
        font-size: 3rem; } }
    @media screen and (max-width: 600px) {
      .institucional .container-titulo .titulo {
        font-size: 2.5rem; } }
.institucional .indicator {
  display: inherit !important;
  background-color: #aaa;
  height: 5px; }
@media screen and (max-width: 600px) {
  .institucional .tab-title {
    font-size: 0.8em !important; } }
.institucional .tabs-missao-visao-valores {
  box-shadow: 5px 5px 0px !important;
  border: solid black 1px;
  padding: 0px !important; }
.institucional .tabs-content .carousel, .institucional .tab-content {
  height: 300px; }
  @media screen and (max-width: 600px) {
    .institucional .tabs-content .carousel, .institucional .tab-content {
      height: 350px; } }
  .institucional .tabs-content .carousel .tab-content-text, .institucional .tab-content .tab-content-text {
    font-size: 2em; }
    @media screen and (max-width: 600px) {
      .institucional .tabs-content .carousel .tab-content-text, .institucional .tab-content .tab-content-text {
        font-size: 1.5em; } }
.institucional #estrutura {
  position: relative;
  z-index: 2; }
.institucional .galeria-estrutura .carrossel-estrutura {
  position: relative;
  z-index: 1;
  box-shadow: 7px 7px 0px #ccc; }
  @media screen and (max-width: 600px) {
    .institucional .galeria-estrutura .carrossel-estrutura {
      box-shadow: none;
      border: none; } }
  .institucional .galeria-estrutura .carrossel-estrutura img {
    width: 98%; }
    @media screen and (min-width: 992px) {
      .institucional .galeria-estrutura .carrossel-estrutura img {
        width: 100%; } }
  .institucional .galeria-estrutura .carrossel-estrutura .caption {
    padding: 5%;
    z-index: 1;
    height: 100px;
    width: 98%; }
    @media screen and (min-width: 992px) {
      .institucional .galeria-estrutura .carrossel-estrutura .caption {
        position: absolute;
        bottom: 0;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9) !important;
        width: 100%; } }
.institucional .galeria-estrutura .miniaturas-navegacao {
  position: relative;
  z-index: 0; }
  .institucional .galeria-estrutura .miniaturas-navegacao .imagem-miniatura-navegacao {
    transition: transform 1s, filter 0.75s;
    cursor: pointer; }
    .institucional .galeria-estrutura .miniaturas-navegacao .imagem-miniatura-navegacao:hover {
      transform: scale(0.9);
      filter: grayscale(50%); }
.institucional #modal-depoimentos {
  box-shadow: none !important; }
  .institucional #modal-depoimentos .modal-content .yt-container-wrapper {
    margin-left: 10%;
    width: 80%; }
.institucional .galeria-depoimentos .galeria-depoimentos-item {
  cursor: pointer;
  position: relative;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
  z-index: 0;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }
  .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-nome {
    display: none;
    color: white;
    padding: 5%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 2em;
    font-weight: bolder; }
  .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-cover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0; }
  .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-repeat: none;
    top: 0;
    background-image: url("img/daniel-leve.jpg");
    background-size: contain;
    filter: blur(0px);
    transition: filter 0.5s, background-image 1.5s; }
  .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-play-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.5s; }
    .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-play-container .galeria-depoimentos-item-play-button {
      z-index: 1;
      opacity: 0.8;
      border-radius: 6px;
      position: relative;
      transition: opacity 0.75s; }
      .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-play-container .galeria-depoimentos-item-play-button:before {
        content: "";
        border-style: solid;
        border-width: 30px 0 30px 52px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0); }
      .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-play-container .galeria-depoimentos-item-play-button:hover:before {
        filter: drop-shadow(4px 4px 5px rgba(255, 255, 255, 0.5)); }
  .institucional .galeria-depoimentos .galeria-depoimentos-item:hover {
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.9); }
    .institucional .galeria-depoimentos .galeria-depoimentos-item:hover .galeria-depoimentos-item-play-button {
      opacity: 1; }
    .institucional .galeria-depoimentos .galeria-depoimentos-item:hover .play-button-container {
      transform: scale(1.2); }
    .institucional .galeria-depoimentos .galeria-depoimentos-item:hover .galeria-depoimentos-item-background {
      background-image: url("img/daniel-leve-2.gif");
      filter: blur(1px);
      transition: filter 0.5s, background-image 0.5s; }
    .institucional .galeria-depoimentos .galeria-depoimentos-item:hover .galeria-depoimentos-item-nome {
      display: inherit; }
    .institucional .galeria-depoimentos .galeria-depoimentos-item:hover .galeria-depoimentos-item-cover {
      background-color: rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 992px) {
    .institucional .galeria-depoimentos .galeria-depoimentos-item {
      box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.75); }
      .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-background:hover {
        background-image: url("img/daniel.jpg") !important; }
      .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-cover {
        background-color: rgba(0, 0, 0, 0.6); }
      .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-nome {
        display: inherit;
        font-size: 1em; }
      .institucional .galeria-depoimentos .galeria-depoimentos-item .galeria-depoimentos-item-play-button:before {
        border-width: 15px 0 15px 26px; } }
  .institucional .galeria-depoimentos .galeria-depoimentos-item:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
@media screen and (max-width: 992px) {
  .institucional .item-time {
    font-size: 2rem; } }
@media screen and (max-width: 600px) {
  .institucional .item-time {
    font-size: 1.5rem; } }
.institucional .item-time-corpo {
  overflow-y: scroll; }
.institucional .card-team {
  box-shadow: 5px 5px 0px !important;
  border: solid black 1px;
  filter: grayscale(75%);
  transform: scale(1);
  transition: filter 0.5s, transform 0.35s; }
  .institucional .card-team:hover {
    filter: grayscale(0%);
    transform: scale(1.0075); }
.institucional .noticia-clipping {
  box-shadow: 5px 5px 0px black !important;
  border-radius: 0px;
  border: solid black 1px;
  filter: grayscale(75%);
  transform: scale(1);
  transition: filter 0.5s, transform 0.35s; }
  .institucional .noticia-clipping .card-image {
    box-shadow: none; }
  .institucional .noticia-clipping .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 1s;
    z-index: 1; }
  .institucional .noticia-clipping .card-title {
    z-index: 2; }
  .institucional .noticia-clipping img {
    border-radius: 0px; }
  .institucional .noticia-clipping:hover {
    filter: grayscale(0%);
    transform: scale(1.0075); }
    .institucional .noticia-clipping:hover .cover {
      background-color: rgba(0, 0, 0, 0.15); }
.institucional .slider-feedback .slider-feedback-slides {
  background-color: #fff; }
  .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img-cover {
    background-color: rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img-cover.slider-feedback-slide-img-cover-right {
      margin-left: 50%; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img-cover.slider-feedback-slide-img-cover-left {
      margin-left: 12.5%; }
    @media screen and (max-width: 922px) {
      .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img-cover {
        width: 100%;
        margin-left: 0% !important; } }
  .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img {
    width: 50%; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img.slider-feedback-slide-img-left {
      margin-left: 12.5%; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img.slider-feedback-slide-img-right {
      margin-left: 50%; }
    @media screen and (max-width: 992px) {
      .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-img {
        width: 100%;
        margin-left: 0% !important; } }
  .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption {
    width: 35%;
    left: 0;
    top: 30%; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption.right-align {
      margin-left: 65%; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption.left-align {
      margin-left: 12.5%; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption h3 {
      font-weight: 600; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption h5 {
      font-weight: 500; }
    .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption a {
      border: 0.5px solid black;
      color: rgba(0, 0, 0, 0.8) !important;
      padding: 2%;
      transition: background-color 0.5s, color 0.5s, box-shadow 0.5s; }
      .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption a:hover {
        background-color: #000 !important;
        color: white !important;
        box-shadow: 3px 3px 0px #ccc; }
    @media screen and (max-width: 992px) {
      .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption {
        width: 100%;
        top: 52%;
        margin-left: 0px !important;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 5%; }
        .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption h3, .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption h5, .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption a {
          color: white !important; }
        .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption a {
          border: 1px solid white; } }
    @media screen and (max-width: 600px) {
      .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption h3 {
        font-size: 2rem; }
      .institucional .slider-feedback .slider-feedback-slides .slider-feedback-slide-caption h5 {
        font-size: 1.25rem; } }
.institucional .slider-feedback .indicators .indicator-item.active {
  background-color: #000; }

.modal-overlay {
  opacity: 0.9 !important; }

/*INTERFACE*/
.form_fakeButton.form_upload_img_label {
  background-color: black;
  padding: 2%;
  font-size: 1.5em;
  color: white;
  cursor: pointer; }

div.form_upload_img_imagePreview {
  height: 100%; }

div.form_upload_img_imagePreviewContainer {
  width: 30%;
  height: 350px;
  display: inline-block;
  position: relative;
  background-color: #ccc; }

div.form_upload_img_imagePreviewContainer + div.form_upload_img_imagePreviewContainer {
  margin-left: 5%; }

/*mobile*/
@media screen and (max-width: 768px) {
  div.form_upload_img_imagePreviewContainer {
    display: block;
    width: 100%;
    height: 850px;
    margin: 5% 0px; }

  div.form_upload_img_imagePreviewContainer + div.form_upload_img_imagePreviewContainer {
    margin-left: 0; } }
@media screen and (max-width: 500px) {
  div.form_upload_img_imagePreviewContainer {
    height: 500px; } }
@media screen and (max-width: 400px) {
  div.form_upload_img_imagePreviewContainer {
    height: 450px; } }
/*bot├úo da ├írea de subir arquivos*/
.form input.form_upload {
  display: none; }

.form label.form_upload_img_label {
  position: absolute;
  width: 100%;
  border-radius: 0px;
  text-align: center;
  box-sizing: border-box; }

.form label.form_upload_img_label:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=tel]:focus + label {
  color: #ccc; }

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=number]:focus, .input-field input[type=tel]:focus {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 0 #ccc; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #ccc; }

div.picker__weekday-display {
  background-color: #ccc !important; }

.picker__date-display {
  background-color: #ccc !important; }

.picker__close {
  color: #000; }

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
  background-color: #fff;
  box-shadow: 0 0 0; }

button.picker__today:active, button.picker__clear:active, button.picker__close:active {
  background-color: #fff;
  box-shadow: 0 0 0; }

.picker__today {
  color: #000; }

.picker__day--selected {
  background-color: #000 !important; }

.picker__day.picker__day--today {
  color: #ccc !important; }

.picker__nav--prev:hover, .picker__nav--next:hover {
  background-color: #ccc; }

.select-dropdown li:not(.disabled) span {
  color: #000 !important; }

label.error {
  position: absolute;
  top: -15px !important;
  color: red;
  white-space: nowrap;
  font-size: 0.75rem; }

input.error {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important; }

#rg.valid, #cep.valid, #number.valid {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: none; }

/*# sourceMappingURL=style.css.map */
