/*******************************************************************************
########################### CASTING ############################################
********************************************************************************/
// descrição:
// essa folha de estilos controla as sessões de casting do site


// ================= galeria de fotos ==========================================


// hack para garantir que o grid não quebre graças a pressão do container
.container .row {
    margin-left: auto!important;
    margin-right: auto!important;
}
// filtro preto e branco para fotos em telas grandes
@media screen and (min-width:992px) {
  .bw img{
    filter: grayscale(100%);
  }
}

// galeria de fotos
.casting-gallery{

  // opacidade gerada para animação
  // opacity: 0;
  // respiro para o menu
  margin-top:1.5%!important;

  .col{
    // margens para simetria com grid de colunas do materializecss
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  // cada foto
  .casting-gallery-item{

    // SCROLL MAGIC

    // delay progressivo de imagens para telas grandes
    @media screen and (min-width: 1200px){

      &:nth-child(3n+1){
        animation-delay: 0.25s ;
      }

      &:nth-child(3n+2){
        animation-delay: 0.5s;
      }

      &:nth-child(3n+0){
        animation-delay: 0.75s;
      }

      &:nth-child(3){
        animation-delay: 0.083s!important ;
      }

      &:nth-child(2){
        animation-delay: 0.027s!important;
      }

      &:nth-child(1){
        animation-delay: 0.009s!important;
      }

    }

    // delay progressivo de imagens para telas pequenas
    @media screen and (max-width: 600px){
      &:nth-child(odd){
        animation-delay: 0.25s!important;
      }
      &:nth-child(even){
        animation-delay: 0.5s!important;
      }
    }

    img{
      // responsividade das fotos
      max-width: 100%;
      width: 100%;
    }
  }
}

// // garante comportamento mais semantico e trigger para modal fazendo o link
// // ocupar todo o espaço a ele destinado
// .casting_link{
//   display: inline-block;
// }

// ================= modal =====================================================

.modal-close {
  cursor: pointer;
  font-size:75px!important;
  color:white;
  margin-top:5%;
  position:fixed;
  top:5%;
  right:5%;
  z-index:99999999999999999999999999999999!important;
  &:hover{
    opacity: 0.8;
  }

}


.modal{
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  top: 10% !important;
  max-height: 90% !important;
  width: 100% !important;
  height: 85% !important;
  overflow: hidden;
  z-index:9
  9999!important;

  .modal-content{
    overflow-y: visible!important;
    height: 100%;
    width: 80%;
    @media screen and (max-width: 600px){
      height: 100%;
      width: 99.9999%;
      margin-left: 0.00005%;
    }
    //damos uma altura para a linha para que a modal tenho uma altura
    .row {
      height: 100%;
    }


  }


  // título da modal
  .carousel-title {
    font-size:2em;
    width:100%;
    text-align:center;
    color:white;
  }

  //medidas do modelo
  .measure{
    color:white;
    text-align:center;
    display: inline-block;
    width: 100%;
    margin-top: 20px
  }
}

// setas de navegação
.slider-arrow {
  // centraliza as flexas
  .material-icons{
    font-size: 100px;
    &:hover{
      opacity: 0.8;
    }
  }
  color:white;
  display: flex;
  height: 80%;
  align-items: center;
  cursor: pointer;


}



// ================= carrossel ==========================================




.carousel-slider {
  height: 80% !important;
  @media screen and (max-width: 700px) {
    height: 65% !important;
  }

  .carousel-item img {
    position: absolute;
    width: auto !important;
    left: 12.5%;//
    max-height: 95%;
    max-width: 95%;
    top: 10%;
  }

  .carousel-img-portrait{
    height: 95%;
    width: auto;
    top: 10%;
  }

}
