
.youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: rgba(200,200,200,0.5);
    -webkit-box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
            box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d( -50%, -50%, 0 );
            transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#content-video{
  @media screen and (min-width: 1024px){
    margin-left: 10%;
  }
}

.s12.modal-caro{
  margin:0px!important;
}

// cada foto
.yt-container{

  // opacidade gerada para animação
  opacity: 0;

  // delay progressivo de imagens para telas grandes
  @media screen and (min-width: 1200px){

    &:nth-child(4n+1){
      animation-delay: 0.25s ;
    }

    &:nth-child(4n+2){
      animation-delay: 0.5s;
    }

    &:nth-child(4n+0){
      animation-delay: 0.75s;
    }

    &:nth-child(4n+0){
      animation-delay: 0.75s;
    }



    // &:nth-child(3n+4){
    //   animation-delay: 0.75s;
    // }
    //
    // &:nth-child(3){
    //   animation-delay: 0.083s!important ;
    // }
    //
    // &:nth-child(2){
    //   animation-delay: 0.027s!important;
    // }
    //
    // &:nth-child(1){
    //   animation-delay: 0.009s!important;
    // }

  }

  // delay progressivo de imagens para telas pequenas
  @media screen and (max-width: 600px){
    &:nth-child(odd){
      animation-delay: 0.5s;
    }

  }
}
