
.modal-close {
  cursor: pointer;
  font-size:40px!important;
  position:fixed;
  top:10px;
  right:10px;
  z-index:99999999999999999999999999999999!important;
  &:hover{
    opacity: 0.8;
  }
}

nav{


	&.white{
		ul.tabs li.tab{
			a:hover{
				color: #ccc!important;
			}
			a.active{
				background-color: black;
				color: white!important;
				animation-delay: 2s;
				box-shadow: 5px 5px 0px #ccc;
			}
		}
	}

	&{
		box-shadow: 0px 0px 0px rgba(0,0,0,0);
	}

	//logo container
	.brand-logo{
		z-index: 999;
	}

	//logo img
	.brand-logo-img{
		height: 140px;
		padding: 24px;
		animation-delay: 1s;
	}
	.nav-wrapper{
		height:135px !important;
		border-bottom: 1px solid white;
	}
	.custom-icon{
		padding: 80px 0 0 0;
		animation-delay: 0.25s;
		.icon-sociocon{
			&:hover{
				opacity: 0.8!important;
			}
		}
	}

	.button-collapse{
		color:black;
	}
	@media screen and (max-width: 992px) {
		.tabs{
			display: none;
		}
		.nav-wrapper{
			border-bottom: 0px solid white;
		}
	}
	&.nav-extended{
		@media screen and (min-width: 992px){
			position: relative!important;
		}
	}
}

// *HACK* fazendo com o que os links do menu fiquem acima do logo
.nav-content{
	z-index: 999;
}

#nav-mobile-socialLinks {
	display: none;
	@media screen and (max-width: 992px){
		display: flex;
		z-index: 99;
		margin-top: 2%;
		position: relative;
		justify-content: space-around;
		align-items: center;

		width: 40%;
		margin-left: 30%;
	}
	li{
		display: inline;
		img {
			height: 25px;
		}
	}
}

.indicator{
	display: none;
}

.tabs.tabs-transparent{
	overflow: visible!important;
	padding: 0px 2%;
	a{
		// hack para que o menu não quebre
		@media screen and (max-width: 1400px){
			font-size: 12px!important;
			padding: 0px 15px!important;
		}

		@media screen and (max-width: 1100px){
			font-size: 10px!important;
			padding: 0px 11px!important;
		}
	}
}


.youtube, .youtube-thumbnail {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}


.youtube img, .youtube-thumbnail img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}

.youtube .play-button{
    width: 90px;
    height: 60px;
    background-color: rgba(200,200,200,0.5);
    -webkit-box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
            box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}


.youtube .play-button:before, .youtube-thumbnail .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button, .youtube-thumbnail img, .youtube-thumbnail .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before,
.youtube-thumbnail img,
.youtube-thumbnail .play-button,
.youtube-thumbnail .play-button:before{
    position: absolute;
}


.youtube .play-button,
.youtube .play-button:before,
.youtube-thumbnail .play-button,
.youtube-thumbnail .play-button::before
 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d( -50%, -50%, 0 );
            transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.s12.modal-caro{
  margin:0px!important;
}

.yt-slider-nav-container{
  width: 50%!important;
  margin-left: 25%!important;
  .youtube-thumbnail .play-button {
      z-index: 1;
      opacity: 0.8;
      border-radius: 6px;
  }
}

.yt-slider-container{
    max-width: 70%;
    margin-left: 15%;
    margin-top: 5%;

    @media screen and (max-width: 992px){
      max-width: 100%;
      margin-left: 0%;
      margin-top: 20%;

    }
  //regras para sobrepor as regras do slider
  img.yt-embed-img{
    width: 100%!important;
    top: -16.84%!important;
    left: 0!important;
    max-width: none!important;
    max-height: none!important;
    opacity: 0.7!important;
  }
}

*{
  font-family: "Montserrat", sans-serif ;
}

.container {
  margin-top: 100px!important;
}

h2 {
  margin-top:3%!important;
  margin-bottom:3%!important;
}

html,body{
  height: 100%;
}

// html {
//     -webkit-transition: background-color 1s;
//     transition: background-color 1s;
// }
// html, body {
//     /* For the loading indicator to be vertically centered ensure */
//     /* the html and body elements take up the full viewport */
//     min-height: 100%;
//
// }
//
// html.loading {
//     /* Replace #333 with the background-color of your choice */
//     /* Replace loading.gif with the loading image of your choice */
//     background: #fff url('img/logos/logo-branca.png') no-repeat 50% 50%;
//
//     /* Ensures that the transition only runs in one direction */
//     transition: background-color 0;
// }
//
// body {
//     -webkit-transition: opacity 1s ease-in;
//     transition: opacity 1s ease-in;
// }
//
// html.loading body {
//     /* Make the contents of the body opaque during loading */
//     opacity: 0;
//     /* Ensures that the transition only runs in one direction */
//     -webkit-transition: opacity 0;
//     transition: opacity 0;
// }


#loading-animation{
  opacity: 0;
}


.loading{
  height: 100%;
  background: #fff url('img/logos/logo-preta.png') no-repeat 50% 50%;
  width: 100%;
  z-index: 99999999999999999999999999999999999;
  transition: opacity 1s ease-out;
}

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {

}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

fieldset {
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	-webkit-padding-after: 0px;
	min-width: 0px;
	float: none;
}

/*******************************************************************************
########################### CASTING ############################################
********************************************************************************/
// descrição:
// essa folha de estilos controla as sessões de casting do site


// ================= galeria de fotos ==========================================


// hack para garantir que o grid não quebre graças a pressão do container
.container .row {
    margin-left: auto!important;
    margin-right: auto!important;
}
// filtro preto e branco para fotos em telas grandes
@media screen and (min-width:992px) {
  .bw img{
    filter: grayscale(100%);
  }
}

// galeria de fotos
.casting-gallery{

  // opacidade gerada para animação
  // opacity: 0;
  // respiro para o menu
  margin-top:1.5%!important;

  .col{
    // margens para simetria com grid de colunas do materializecss
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  // cada foto
  .casting-gallery-item{

    // SCROLL MAGIC

    // delay progressivo de imagens para telas grandes
    @media screen and (min-width: 1200px){

      &:nth-child(3n+1){
        animation-delay: 0.25s ;
      }

      &:nth-child(3n+2){
        animation-delay: 0.5s;
      }

      &:nth-child(3n+0){
        animation-delay: 0.75s;
      }

      &:nth-child(3){
        animation-delay: 0.083s!important ;
      }

      &:nth-child(2){
        animation-delay: 0.027s!important;
      }

      &:nth-child(1){
        animation-delay: 0.009s!important;
      }

    }

    // delay progressivo de imagens para telas pequenas
    @media screen and (max-width: 600px){
      &:nth-child(odd){
        animation-delay: 0.25s!important;
      }
      &:nth-child(even){
        animation-delay: 0.5s!important;
      }
    }

    img{
      // responsividade das fotos
      max-width: 100%;
      width: 100%;
    }
  }
}

// garante comportamento mais semantico e trigger para modal fazendo o link

// ================= modal =====================================================
.modal{

  top: 2.5% !important;
  max-height: 95% !important;
  width: 95% !important;
  height: 95% !important;
  overflow: hidden;
  z-index:99999999!important;
  #foto-video{
    margin-bottom: 2em;
  }

  .modal-content{
    overflow-y: hidden!important;
    overflow-x: hidden;

    @media screen and (max-width: 992px){
      overflow-y: scroll!important;

    }

    .row{
      height: 80%;
    }

    .casting-modal-profile{
      margin-top: 2.5%;
      img{
        width: 100%;
      }
      @media screen and (min-width: 992px){
        height: 100%;
        margin-top: 0%;
      }
    }

    .casting-modal-content {
      height: 100%;
      margin-top: 2.5%;
      @media screen and (min-width: 992px){
        margin-top: 0%;
      }
    }

    // título da modal
    .carousel-title {
      @media screen and (max-width: 992px){
        text-align:center;
      }
      @media screen and (max-width: 600px){
        font-size: 2.5rem;
      }
    }

    //medidas do modelo
    .measure{

      display: inline-block;
      width: 100%;
      margin-top: 20px;
      line-height: 1.2rem;
      // @media screen and (min-width: 992px){
      //   margin-left: 25%;
      // }
    }
  }
}



// ================= carrossel ==========================================

  .slick-dots{
    bottom: -40px!important;
    display: flex;
    justify-content: center;
    li{
      width: 5px!important;
      margin-left: 0 3px!important;

    }
  }
  .slider-arrow {
    cursor:pointer;
  }
  .slick-slider{
    display: flex;
    align-items: center;
  }

  .slick-slide {
    outline: none;
    cursor: pointer;
  }

   #foto-video .slick-list,   #foto-video .slick-track, #foto-video{
    height: 100%!important;
    width: 100%;
  }
  .carrossel-principal img{
    max-width: 100%;
    max-height: 97.5%;
    margin-top: 1.25%;
  }

    .carousel-img-portrait{
      height: 95%;
      width: auto;
    }

    .carrossel-principal{

      &:focus{
        border: 0px;
      }
      height: 80%!important;

    }

    .carrossel-nav{
      height: 20%!important;
      .slick-slide{
        overflow: hidden;
      }
      .slider-img, .yt-slider-container{
        max-width: 95%;
        max-height: 95%;
      }
    }

  .carrossel-principal.transparent, .carrossel-nav.transparent{
    opacity: 0!important;
  }

  .carrossel-nav, .carrossel-principal{
    animation-delay: 1s;
  }

  .medida {
    font-weight: bolder;
    font-size: 1,25rem;
  }

  // === LOAD ANIMATION ======================================================= //
  // Animação de carregamento baixada de https://loading.io/#

  // código prórprio
  .loading-animation{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 9999999999999999;
    .lds-css{
      // height: 50%;
    }
  }

  //  código do site

  @keyframes lds-rolling {
	  0% {
	    -webkit-transform: translate(-50%, -50%) rotate(0deg);
	    transform: translate(-50%, -50%) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translate(-50%, -50%) rotate(360deg);
	    transform: translate(-50%, -50%) rotate(360deg);
	  }
	}
	@-webkit-keyframes lds-rolling {
	  0% {
	    -webkit-transform: translate(-50%, -50%) rotate(0deg);
	    transform: translate(-50%, -50%) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translate(-50%, -50%) rotate(360deg);
	    transform: translate(-50%, -50%) rotate(360deg);
	  }
	}
	.lds-rolling {
	  position: relative;
	}
	.lds-rolling div,
	.lds-rolling div:after {
	  position: absolute;
	  width: 146px;
	  height: 146px;
	  border: 6px solid #fff;
	  border-top-color: transparent;
	  border-radius: 50%;
	}
	.lds-rolling div {
	  -webkit-animation: lds-rolling 1s linear infinite;
	  animation: lds-rolling 1s linear infinite;
	  top: 100px;
	  left: 100px;
	}
	.lds-rolling div:after {
	  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
	}
	.lds-rolling {
	  width: 233px !important;
	  height: 233px !important;
	  -webkit-transform: translate(-116.5px, -116.5px) scale(1.165) translate(116.5px, 116.5px);
	  transform: translate(-116.5px, -116.5px) scale(1.165) translate(116.5px, 116.5px);
	}
 //============================================================================ //

#contactMapsContainer{
  height: 500px;
}

#contactMapsIframe{
  height: 65%;
}

// SLIDER

// MAIN PAGE
// background texture
#slider-index-video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
	transform: scale(2);
  @media screen and (max-width: 992px){
    display: none;
  }
}

#slider-index{
	z-index: -5;
  @media screen and (min-width: 992px ){
    	opacity: 0.5;
  }
  touch-action:none!important;

  .indicators{
    display: none;
  }
}


.slider-block{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
  @media screen and (max-width: 992px){
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


#modal-indexPopUp{
  background-color: rgba(0, 0, 0, 0);
  color: white!important;

  #modal-indexPopUp-close{
    color: white!important;
  }
}



.slider1, .slider2, .slider3, .slider4, .slider5,
.slider6, .slider7, .slider8
{ max-width: 100%; background-size: 100%; background-image: url('http://res.cloudinary.com/dyexx7eqc/image/upload/v1505329919/sprite_wkt0sv.jpg'); }

.slider1 { background-position: 0 0%; background-size: 100%; }
.slider2 { background-position: 0 14.285714%; background-size: 100%; }
.slider3 { background-position: 0 28.571429%; background-size: 100%; }
.slider4 { background-position: 0 42.851406%; background-size: 100%; }
.slider5 { background-position: 0 57.129468%; background-size: 100%; }
.slider6 { background-position: 0 71.415183%; background-size: 100%; }
.slider7 { background-position: 0 85.700897%; background-size: 100%; }
.slider8 { background-position: 0 100%; background-size: 100%; }


@media screen and (min-width:600px){

  /* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */

  .slider1, .slider2, .slider3, .slider4, .slider5,
  .slider6, .slider7, .slider8, .slider9
  { max-width: 100%; background-size: 100%; background-image: url('http://res.cloudinary.com/deemlslu0/image/upload/v1505166714/sprite_b5jdce.jpg'); }

  .slider1 { background-position: 0 0%; background-size: 100%; }
  .slider2 { background-position: 0 12.504726%; background-size: 100%; }
  .slider3 { background-position: 0 25.009452%; background-size: 100%; }
  .slider4 { background-position: 0 37.510632%; background-size: 100%; }
  .slider5 { background-position: 0 50.004725%; background-size: 100%; }
  .slider6 { background-position: 0 62.498819%; background-size: 100%; }
  .slider7 { background-position: 0 75%; background-size: 100%; }
  .slider8 { background-position: 0 87.496456%; background-size: 100%; }
  .slider9 { background-position: 0 100%; background-size: 100%; }

}

@media screen and (min-width:992px){

  /* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */

  .slider2, .slider4, .slider5, .slider9, .slider1,
  .slider3, .slider6, .slider8, .slider7
  { max-width: 150%; background-size: 115%; background-image: url('http://res.cloudinary.com/deemlslu0/image/upload/v1505160100/sprite_eetzp7.jpg'); }

  .slider2 { background-position: 0 0%;  }
  .slider4 { background-position: 0 12.5%;  }
  .slider5 { background-position: 0 25%; }
  .slider9 { background-position: 0 37.5%;  }
  .slider1 { background-position: 0 50%;  }
  .slider3 { background-position: 0 62.5%;  }
  .slider6 { background-position: 0 75%;  }
  .slider8 { background-position: 0 87.5%;  }
  .slider7 { background-position: 0 100%;  }

}

// === INSTICIONAL ============================================================ //
// Página institucional da Forum Model
.institucional{
  // ***HACK*** //
  // sobrepondo bordas dos cards
  .card, .card * {
    border-radius: 0px!important;
  }
  section{
    margin: 15% 0px;
  }

  // === TÍTULO DA PÁGINA ===================================================== //
  // regras para tornar o tamanho do título da página grande a responsivo
  .titulo-pagina{
    font-size: 7.5em;
    @media screen and (max-width: 600px){
      font-size: 4em;
    } // final da media query
  } // Final do título da página
  // ========================================================================== //

  .subtitulo{
    @media screen and (max-width: 992px){
      font-size: 1.25rem;
    }

    @media screen and (max-width: 600px){
      font-size: 1rem;
    }
  }

  // === SESSÕES ============================================================== //
  // Regras gerais para sessões da página

  // === TÌTULO DAS SESSÕES =================================================== //
  .container-titulo{
    // Regras geraris para o título da sessão, alinha os elementos em sua base
    display: flex;
    align-items: flex-end; // alinha os itens na base
    justify-content: center; // centralizamos os itens
    margin-bottom: 3%; // adcionamos a margem inferior que foi tirada do título
    // icone do título
    // regras para tornar o ícone responsivo
    .icone-titulo{
      height: 10rem;
      margin-left: 1.5%;
      @media screen and (max-width: 9992px){
        height: 7.5rem;
      } // Final da media query para tablet
      @media screen and (max-width: 600px){
        height: 5rem;
      } // Final da media query para mobile
    } // Final do ícone do título

    // Título da sessão
    .titulo{
      margin-bottom: 0px!important; //removemos a margem inferior para poder
                                    // alinhar com o ícone

      @media screen and (max-width: 992px){
        font-size: 3rem;
      }

      @media screen and (max-width: 600px){
        font-size: 2.5rem;
      }
    } // Final do título
  } // Final do container do título
// ============================================================================ //

// === MISSÃO, VISÃO E VALORES ================================================ //

  // === TABS ================================================================= //
  // deixando o indicador branco
  .indicator{
    display: inherit!important;
    background-color: #aaa;
    height: 5px;

  }

  // adaptando o texto do título
  .tab-title{
    @media screen and (max-width: 600px){
      font-size: 0.8em!important;
    }
  }

  .tabs-missao-visao-valores{
    box-shadow: 5px 5px 0px!important;
    border: solid black 1px;
    padding: 0px!important;
  }
  //altura das tabs
  .tabs-content .carousel,.tab-content{
    // definindo uma altura padrão para melhor swipe já
    // que há uma bg-color
    height: 300px;
    @media screen and (max-width: 600px){
      height: 350px
    } // final da media query
    // adaptando o texto do conteúdo da tab
    .tab-content-text{
      font-size: 2em;
      @media screen and (max-width: 600px){
        font-size: 1.5em;
      }// final media query
    } // final do texto da tab
  } //final das tabs e conteudo
  // ========================================================================== //
// ============================================================================ //

// === ESTRUTURA ============================================================== //
  // === SECTION ============================================================== //
  // regras para toda a sessão

  // === HACK PARA Z-INDEX ==================================================== //
  // Por algum motivo uma sessão estava abaixo da outra, fazendo o material box
  // ficar abaixo do link da modal dos depoimentos. Resolvi isso dando uma posição
  // e index para toda a sessão do material box
  #estrutura{
    position: relative;
    z-index: 2;
  }

  // === IMAGE GALLERY ======================================================== //
  .galeria-estrutura{

    // === CARROSSEL ========================================================== //
    // Carrosel de imagens slick
    .carrossel-estrutura{
      // *** HACK *** //
      // garantimos que o materialbox fique acima da sessão abaixo
      position: relative;
      z-index: 1;
      box-shadow: 7px 7px 0px #ccc;

      @media screen and (max-width: 600px){
        box-shadow: none;
        border: none;
      }

      img{
        width: 98%;
        @media screen and (min-width: 992px){
          width: 100%;
        }
      }
      // texto do carrosel
      .caption{
        @media screen and (min-width: 992px){
          position: absolute;
          bottom: 0;
          height: auto;
          background-color: rgba(0,0,0,0.9)!important;
          width: 100%;
        } // final da media query
        padding: 5%;
        z-index: 1;
        height: 100px;
        width: 98%;
      } // final do caption
    }//final do carrossel
    // ======================================================================== //

    // === MINIATURAS DE NAVEGAÇÃO ============================================ //
    // galeria de miniaturas que serve de navegação pro slider
    // as miniaturas diminuem no hover e tem sombra projetada dura
    .miniaturas-navegacao{

      position: relative;
      z-index: 0;
      .imagem-miniatura-navegacao{
        // border: 1px solid black;
        transition: transform 1s, filter 0.75s;
        cursor: pointer;
        &:hover{
          transform: scale(0.9);
          filter: grayscale(50%);
        } // final do hover
      } // final das regras para as miniaturas de navegação
    }// final das miniaturas de navegacao
    // ======================================================================== //
  }// final da galeria de imagens da estrutura
// ============================================================================ //

  // === OPINIÃO DE QUEM É FORUM ============================================== //
  // Galeria de links dos depoimentos dos modelos que abrem em modal. No hover os links
  // tem a sombra animada

  // === MODAL DOS VIDEOS ===================================================== //
  #modal-depoimentos{
    // tiramos a sombra padrão da modal
    box-shadow: none!important;
    .modal-content{
      // damos uma largura e margem para o conteúdo sempre caber na view e ficar
      // centralizado
      .yt-container-wrapper{
        margin-left: 10%;
        width: 80%;
      } // final do container do iframe lazyLoad
    } // findal da div de conteudo da modal de depoimentos
  } // final da modal de depoimentos
  // ========================================================================== //

  // === GALERIA DE DEPOIMENTOS =============================================== //
  // A Galeria de depoimentos tem comporamentos baseados no hover: animações
  // e o background em jpeg é trocado por um gif animado. A animação é basicamente
  // composta pelos seguintes acontecimentos: O nome do modelo sobe,  a cobertura
  // da foto fica mais escura, a sombra aumenta e ganha cor.
  .galeria-depoimentos{

    // === Itens da galeria ===================================================== //
    .galeria-depoimentos-item{
      cursor: pointer;
      position: relative;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
      transition: box-shadow 1s;
      z-index: 0;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;

      // nome do modelo
      .galeria-depoimentos-item-nome{
        display: none;
        color: white;
        padding: 5%;
        z-index: 2;
        position: absolute;
        bottom:0;
        width: 100%;
        height: auto;
        font-size: 2em;
        font-weight: bolder;
      } // final do nome

      // cobertura preta
      .galeria-depoimentos-item-cover{
        background-color: rgba(0,0,0,0.6);
        transition: background-color 0.5s;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
      } // final da cobertura

      // foto do modelo
      .galeria-depoimentos-item-background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-repeat: none;
        top: 0;
        background-image: url("img/daniel-leve.jpg");
        background-size: contain;
        filter: blur(0px);
        transition: filter 0.5s, background-image 1.5s ;
      } // final do background

      // botão de play
      .galeria-depoimentos-item-play-container{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 2;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        transition: transform 0.5s;

        .galeria-depoimentos-item-play-button{
          z-index: 1;
          opacity: 0.8;
          border-radius: 6px;
          position: relative;
          transition: opacity 0.75s;


          &:before, {
            content: "";
            border-style: solid;
            border-width: 30px 0 30px 52px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d( -50%, -50%, 0 );
          }

          &:hover{
            &:before{
              filter: drop-shadow(4px 4px 5px rgba(255,255,255,0.5));
            }
          }
        }
      }// final das regras do botão de play

      // hover
      &:hover{

        box-shadow: 10px 10px 0 rgba(0,0,0,0.9);
        .galeria-depoimentos-item-play-button{
          opacity: 1;
        }
        .play-button-container{
          transform: scale(1.2);
        }

        .galeria-depoimentos-item-background{
          background-image: url("img/daniel-leve-2.gif");
          filter: blur(1px);
          transition: filter 0.5s, background-image 0.5s ;
        }

        .galeria-depoimentos-item-nome{
          display: inherit;
        }

        .galeria-depoimentos-item-cover{
          background-color: rgba(0,0,0,0.75);
        }

      } //findal do hover

      // mobile
      @media screen and (max-width: 992px){

        box-shadow:5px 5px 0 rgba(0,0,0,0.75);

        .galeria-depoimentos-item-background{
          &:hover{
            background-image: url("img/daniel.jpg")!important;
          }
        }

        .galeria-depoimentos-item-cover{
          background-color: rgba(0,0,0,0.6);
        }

        .galeria-depoimentos-item-nome{
          display: inherit;
          font-size: 1em;
        }

        .galeria-depoimentos-item-play-button:before, {
            border-width: 15px 0 15px 26px;
        }

      }//final da media query

      // *** HACK *** //
      // o padding no after garante o tamanho quadrado da div
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }//final do after
    }// final do item da galeria de depoimentos
  } // final da galeria de depoimentos
  // ============================================================================ //

  // === TIME FORUM ============================================================= //

  .item-time{
    @media screen and (max-width: 992px){
      font-size: 2rem;
    }
    @media screen and (max-width: 600px){
      font-size: 1.5rem;
    }
  }

  .item-time-corpo{
    overflow-y: scroll;
  }
  // === CARD =================================================================== //
  .card-team{
    box-shadow: 5px 5px 0px!important;
    border: solid black 1px;
    filter: grayscale(75%);
    transform: scale(1);
    transition: filter 0.5s, transform 0.35s;
    &:hover{
      filter: grayscale(0%);
      transform: scale(1.0075);
    }
  }

  // ============================================================================ //

  // === CLIPPING =============================================================== //
  // card da noticia
  .noticia-clipping{

    box-shadow: 5px 5px 0px black!important; //borda projetada dura
    border-radius: 0px; // retira a borda redonda
    border: solid black 1px;
    filter: grayscale(75%);
    transform: scale(1);
    transition: filter 0.5s, transform 0.35s;

    .card-image{
      box-shadow: none; // tira a sombra opacada da imagem
    } // final da card-image

    // cobertura para a imagem. Garante legibilidade do texto
    .cover{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0,0.2);
      transition: background-color 1s;
      z-index: 1;
    } // final do cover

    // garante que o título da notícia fique acima do cover
    .card-title{
      z-index: 2;
    } // final do título

    // retira a borda da imagem
    img{
      border-radius: 0px;
    } // final da imagem

    // Comportamentos de hover
    &:hover{
      filter: grayscale(0%);
      transform: scale(1.0075);
      .cover{
        background-color: rgba(0,0,0,0.15);
      } // final dos comportamentos de hover do cover
    } //final dos comporamentos de hover
  } //final do cartão

  // === FEEDBACK ============================================================= //
  // Slider com breves depoimentos de celebridades e influenciadores parceiros
  // da Forum Model e Forum School. Pode conter texto e imagem ou ainda um link
  // para vídeo que se abre na modal. Usa o plugin Slider do materializecss com
  // documentação disponível em: http://materializecss.com/media.html

  .slider-feedback{
    .slider-feedback-slides{
      background-color:#fff;

      .slider-feedback-slide-img-cover{
        background-color: rgba(0,0,0, 0.25);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;

        &.slider-feedback-slide-img-cover-right{
          margin-left: 50%;
        }

        &.slider-feedback-slide-img-cover-left{
          margin-left: 12.5%;
        }

        @media screen and (max-width: 922px){
          width: 100%;
          margin-left: 0%!important;
        }
      }
      .slider-feedback-slide-img{
        width:50%;
        // imagens alinhadas a esquerda
        &.slider-feedback-slide-img-left{
          margin-left:12.5%;
        }

        // imagens alinhadas a esquerda
        &.slider-feedback-slide-img-right{
          margin-left:50%;
        }

        @media screen and (max-width: 992px){
          width: 100%;
          margin-left: 0%!important;
        }

      }
      .slider-feedback-slide-caption{
        width:35%;
        left:0;
        top:30%;


        // alinhado a direita
        &.right-align{
          margin-left:65%;
        }

        // alinhado a esquerda
        &.left-align{
          margin-left:12.5%;
        }

        h3{
          font-weight: 600;
        }

        h5{
          font-weight: 500;
        }

        a{
          border: 0.5px solid black;
          color: rgba(0,0,0,0.8)!important;
          padding: 2%;
          transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

          &:hover{
            background-color: #000!important;
            color: white!important;
            box-shadow: 3px 3px 0px #ccc;
          }
        }

        @media screen and (max-width: 992px){
          width: 100%;
          top: 52%;
          margin-left: 0px!important;

          padding-right: 5%;
          padding-left: 5%;
          padding-bottom: 5%;
          h3,h5,a{
            color: white!important;
          }

          a{
            border: 1px solid white;
          }
          // margin-bottom: 3%;
          }

        @media screen and (max-width: 600px){
          h3{
            font-size: 2rem;
          }

          h5{
            font-size: 1.25rem;
          }

          // transform: scale(0.8);
          // text-align: center!important;
        }
      }
    }

    // trocando as cores pontos de navegação
    .indicators{
      .indicator-item.active{
        background-color: #000;
      }
    }

  }

  // ========================================================================== //
} // final da classe institucional
// ============================================================================ //

// ***HACK**//
// mudando opacidade do modal overlay para garantir legilidadde em textos
// com modal transpartente
.modal-overlay{
  opacity: 0.9!important;
}

/*INTERFACE*/

.form_fakeButton.form_upload_img_label{
  background-color: black;
  padding: 2%;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}


div.form_upload_img_imagePreview{
  height: 100%;
}


div.form_upload_img_imagePreviewContainer{
  width: 30%;
  height: 350px;
  display: inline-block;
  position: relative;
  background-color: #ccc;
}

div.form_upload_img_imagePreviewContainer+div.form_upload_img_imagePreviewContainer{
  margin-left: 5%;
}

div.form_upload_img_imagePreview:hover{

}

/*mobile*/

@media screen and (max-width: 768px){
  div.form_upload_img_imagePreviewContainer{
    display: block;
    width: 100%;
    height: 850px;
    margin: 5% 0px;
  }
  div.form_upload_img_imagePreviewContainer+div.form_upload_img_imagePreviewContainer{
   margin-left: 0;
  }
}

@media screen and (max-width: 500px){
  div.form_upload_img_imagePreviewContainer{
    height: 500px
  }
}


@media screen and (max-width: 400px){
  div.form_upload_img_imagePreviewContainer{
    height: 450px
  }
}
/*botão da área de subir arquivos*/
.form input.form_upload{
  display: none;
}

.form label.form_upload_img_label{
position: absolute;
width: 100%;
border-radius: 0px;
text-align: center;
box-sizing: border-box;

}
.form label.form_upload_img_label:hover{
 box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}




  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,.input-field input[type=email]:focus + label,.input-field input[type=number]:focus + label,.input-field input[type=tel]:focus + label, {
     color: #ccc;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,.input-field input[type=email]:focus,.input-field input[type=number]:focus,.input-field input[type=tel]:focus,{
     border-bottom: 1px solid #ccc;
     box-shadow: 0 1px 0 0 #ccc;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ccc;
   }


  div.picker__weekday-display{
    background-color: #ccc!important;
  }

  .picker__date-display{
    background-color: #ccc!important;
  }

  .picker__close{
    color: #000;
  }

  button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
    background-color: #fff;
    box-shadow: 0 0 0;
  }

  button.picker__today:active, button.picker__clear:active, button.picker__close:active {
    background-color: #fff;
    box-shadow: 0 0 0;
}

  .picker__today{
    color: #000;
  }

  .picker__day--selected{
    background-color: #000!important;
  }

  .picker__day.picker__day--today{
    color: #ccc!important;
  }

  .picker__nav--prev:hover,.picker__nav--next:hover{
    background-color: #ccc;
  }

  .select-dropdown li:not(.disabled) span {
    color: #000!important;
  }

  // changing error label styling
  label.error{
    position: absolute; //position
    top: -15px!important; //postion on top of input
    color: red; //change color to red
    white-space: nowrap; //make sure it dosen't wrap
    font-size: 0.75rem; //change font-sire to equal the caption
  }
  //rules to make the .error from jquery validator match the .invalid class form materialize
  input.error{
    border-bottom: 1px solid #F44336!important;
    box-shadow: 0 1px 0 0 #F44336!important;
  }

  //por algum motivo o materialize está colocando classes de validação em inputs
  // não valdados. Essa regra anula a classe para esses inputs
  #rg.valid, #cep.valid, #number.valid {
    border-bottom: 1px solid #9e9e9e!important;
    box-shadow: none;
  }
