/*******************************************************************************
########################### CASTING ############################################
********************************************************************************/
// descrição:
// essa folha de estilos controla as sessões de casting do site


// ================= galeria de fotos ==========================================


// hack para garantir que o grid não quebre graças a pressão do container
.container .row {
    margin-left: auto!important;
    margin-right: auto!important;
}
// filtro preto e branco para fotos em telas grandes
@media screen and (min-width:992px) {
  .bw img{
    filter: grayscale(100%);
  }
}

// galeria de fotos
.casting-gallery{

  // opacidade gerada para animação
  // opacity: 0;
  // respiro para o menu
  margin-top:1.5%!important;

  .col{
    // margens para simetria com grid de colunas do materializecss
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  // cada foto
  .casting-gallery-item{

    // SCROLL MAGIC

    // delay progressivo de imagens para telas grandes
    @media screen and (min-width: 1200px){

      &:nth-child(3n+1){
        animation-delay: 0.25s ;
      }

      &:nth-child(3n+2){
        animation-delay: 0.5s;
      }

      &:nth-child(3n+0){
        animation-delay: 0.75s;
      }

      &:nth-child(3){
        animation-delay: 0.083s!important ;
      }

      &:nth-child(2){
        animation-delay: 0.027s!important;
      }

      &:nth-child(1){
        animation-delay: 0.009s!important;
      }

    }

    // delay progressivo de imagens para telas pequenas
    @media screen and (max-width: 600px){
      &:nth-child(odd){
        animation-delay: 0.25s!important;
      }
      &:nth-child(even){
        animation-delay: 0.5s!important;
      }
    }

    img{
      // responsividade das fotos
      max-width: 100%;
      width: 100%;
    }
  }
}

// garante comportamento mais semantico e trigger para modal fazendo o link

// ================= modal =====================================================
.modal{

  top: 2.5% !important;
  max-height: 95% !important;
  width: 95% !important;
  height: 95% !important;
  overflow: hidden;
  z-index:99999999!important;
  #foto-video{
    margin-bottom: 2em;
  }

  .modal-content{
    overflow-y: hidden!important;
    overflow-x: hidden;

    @media screen and (max-width: 992px){
      overflow-y: scroll!important;

    }

    .row{
      height: 80%;
    }

    .casting-modal-profile{
      margin-top: 2.5%;
      img{
        width: 100%;
      }
      @media screen and (min-width: 992px){
        height: 100%;
        margin-top: 0%;
      }
    }

    .casting-modal-content {
      height: 100%;
      margin-top: 2.5%;
      @media screen and (min-width: 992px){
        margin-top: 0%;
      }
    }

    // título da modal
    .carousel-title {
      @media screen and (max-width: 992px){
        text-align:center;
      }
      @media screen and (max-width: 600px){
        font-size: 2.5rem;
      }
    }

    //medidas do modelo
    .measure{

      display: inline-block;
      width: 100%;
      margin-top: 20px;
      line-height: 1.2rem;
      // @media screen and (min-width: 992px){
      //   margin-left: 25%;
      // }
    }
  }
}



// ================= carrossel ==========================================

  .slick-dots{
    bottom: -40px!important;
    display: flex;
    justify-content: center;
    li{
      width: 5px!important;
      margin-left: 0 3px!important;

    }
  }
  .slider-arrow {
    cursor:pointer;
  }
  .slick-slider{
    display: flex;
    align-items: center;
  }

  .slick-slide {
    outline: none;
    cursor: pointer;
  }

   #foto-video .slick-list,   #foto-video .slick-track, #foto-video{
    height: 100%!important;
    width: 100%;
  }
  .carrossel-principal img{
    max-width: 100%;
    max-height: 97.5%;
    margin-top: 1.25%;
  }

    .carousel-img-portrait{
      height: 95%;
      width: auto;
    }

    .carrossel-principal{

      &:focus{
        border: 0px;
      }
      height: 80%!important;

    }

    .carrossel-nav{
      height: 20%!important;
      .slick-slide{
        overflow: hidden;
      }
      .slider-img, .yt-slider-container{
        max-width: 95%;
        max-height: 95%;
      }
    }

  .carrossel-principal.transparent, .carrossel-nav.transparent{
    opacity: 0!important;
  }

  .carrossel-nav, .carrossel-principal{
    animation-delay: 1s;
  }

  .medida {
    font-weight: bolder;
    font-size: 1,25rem;
  }

  // === LOAD ANIMATION ======================================================= //
  // Animação de carregamento baixada de https://loading.io/#

  // código prórprio
  .loading-animation{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 9999999999999999;
    .lds-css{
      // height: 50%;
    }
  }

  //  código do site

  @keyframes lds-rolling {
	  0% {
	    -webkit-transform: translate(-50%, -50%) rotate(0deg);
	    transform: translate(-50%, -50%) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translate(-50%, -50%) rotate(360deg);
	    transform: translate(-50%, -50%) rotate(360deg);
	  }
	}
	@-webkit-keyframes lds-rolling {
	  0% {
	    -webkit-transform: translate(-50%, -50%) rotate(0deg);
	    transform: translate(-50%, -50%) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translate(-50%, -50%) rotate(360deg);
	    transform: translate(-50%, -50%) rotate(360deg);
	  }
	}
	.lds-rolling {
	  position: relative;
	}
	.lds-rolling div,
	.lds-rolling div:after {
	  position: absolute;
	  width: 146px;
	  height: 146px;
	  border: 6px solid #fff;
	  border-top-color: transparent;
	  border-radius: 50%;
	}
	.lds-rolling div {
	  -webkit-animation: lds-rolling 1s linear infinite;
	  animation: lds-rolling 1s linear infinite;
	  top: 100px;
	  left: 100px;
	}
	.lds-rolling div:after {
	  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
	}
	.lds-rolling {
	  width: 233px !important;
	  height: 233px !important;
	  -webkit-transform: translate(-116.5px, -116.5px) scale(1.165) translate(116.5px, 116.5px);
	  transform: translate(-116.5px, -116.5px) scale(1.165) translate(116.5px, 116.5px);
	}
 //============================================================================ //
